github.com/cugu/uberfx v0.0.0-20240128220308-b973b284398f/go.mod h1:EQZKpo+HjLfCjIS1AWjSqU6isU1DL0CScWmPGlZjJOs=
github.com/go-sql-driver/mysql v1.7.2-0.20230613063930-943264b76442/go.mod h1:6gYm/zDt3ahdnMVTPeT/LfoBFsws1qZm5yI6FmVjB14=
github.com/stealthrocket/net v0.2.1/go.mod h1:VvoFod9pYC9mo+bEg2NQB/D+KVOjxfhZjZ5zyvozq7M=
github.com/stealthrocket/net/mysql v0.0.0-20230825042344-3846e0fdaa96/go.mod h1:BDCZi5qNjfCI4ULGYswCVKSRncTU8CFLwoe0ZG6jrv4=
